@model PortalPMO.ViewModels.MasterDataPengguna_ViewModels
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form id="FormData" style="padding-top:20px;">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Npp <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Npp, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Npp", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Nama, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Nama", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Email <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Email", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Unit <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.UnitId, (IEnumerable<SelectListItem>)ViewBag.Unit, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Jabatan <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.Jabatan_Id, (IEnumerable<SelectListItem>)ViewBag.Jabatan, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Status <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.IsActive, true, new { @disabled = "disabled" })&nbsp; Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.IsActive, false, new { @disabled = "disabled" })&nbsp; Tidak Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Password Baru <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.PasswordBaru, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Password" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Confirm Password Baru <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.ConfirmPasswordBaru, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Password Baru"})
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
            </div>
        </div>
    </div>
</div>
