@model PortalPMO.ViewModels.TblFasilitasKredit_ViewModels
<style>
    .modal-dialog {
        min-width: 900px;
    }

    .select2 {
        width: 100% !important;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">Detail Fasilitas Kredit</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    @*<div class="form-group row m-b-15">*@
    <form id="FormData" style="padding-top:20px;">
        <div>@Html.HiddenFor(m => m.Id)</div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Jenis Fasilitas</label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.JenisFasilitas, new { @readOnly = true, @class = "form-control", @value = "", @autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Valuta</label>
            <div class="col-md-9">
                <div class="input-group">
                    @*@Html.DropDownListFor(m => m.PeriodeProjectId, (IEnumerable<SelectListItem>)ViewBag.ProjectPeriode, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })*@
                    @Html.TextBoxFor(m => m.Valuta, new { @readOnly = true, @class = "form-control", @value = "", @autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Maksimum Kredit</label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MaksimumKredit, new { @readOnly = true, @class = "form-control", @value = "", @autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Tujuan</label>
            <div class="col-md-9">
                <div class="input-group">
                    @*@Html.DropDownListFor(m => m.PeriodeProjectId, (IEnumerable<SelectListItem>)ViewBag.ProjectPeriode, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })*@
                    @Html.TextBoxFor(m => m.Tujuan, new { @readOnly = true, @class = "form-control", @value = "", @autocomplete = "off" })
                </div>
            </div>
        </div>
    </form>
    @*</div>*@
</div>

<style>
    .sw > .tab-content {
        height: auto !important
    }
</style>

@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="~/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugin/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <style>

        .fab {
            position: fixed;
            bottom: 20px;
            right: 20px;
            clip-path: circle();
            height: 40px;
            width: 40px;
            z-index: 999;
            box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
        }

        .addButton {
            position: fixed;
            bottom: 30px;
            right: 30px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        .select2 {
            height: 30px;
        }

        .dataTables_wrapper {
            zoom: 0.9 !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }


        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }


        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }

        .odd {
            background-color: white !important;
        }

        .hoverParent:hover {
            background-color: white;
        }

        .hoverParent {
            background-color: #f1d2d2;
        }
    </style>
}
@section scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="~/plugin/javascript-fluid-meter-master/js/js-fluid-meter.js"></script>
    <script src="~/plugin/select2/dist/js/select2.min.js"></script>
    <script src="~/plugin/daterangepicker/moment.min.js"></script>
    <script src="~/plugin/daterangepicker/daterangepicker.min.js"></script>
    @Html.Partial("_Script")
}


