@model PortalPMO.ViewModels.ProgressKerjaMember_ViewModels
<style>
    .modal-dialog {
        min-width: 70%;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title">Form Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <form id="FormDataProgresPekerjaan" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Deskripsi)
        @Html.HiddenFor(m => m.ProjectMemberId)


        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Tanggal <span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-prepend datepicker-trigger" id="TanggalSearch" data-date-format="dd/mm/yyyy">
                        <div class="input-group-text">
                            <i class="fa fa-calendar-alt"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.Tanggal, new { @class = "datepicker-here form-control", @value = "", @autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Judul <span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Judul, new { @class = "form-control", @value = "", @autocomplete = "off" })

                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Deskripsi <span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    <textarea id="KeteranganSummernote" name="KeteranganSummernote" class="form-control" style="width:100%"></textarea>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Tutup</a>
    <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmitDetailProgresPekerjaan">Simpan</a>
</div>